/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

p, h1, h2, h3, h4 {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos clases */

.libro {
  border: 1px solid #ccc;
  padding: 10px;
}

.libro img {
  max-width: 100%;
  height: auto;
}

.libro h2 {
  margin-top: 0;
}

/* Estilos para el modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  animation: modal-animation 1s;
  align-items: center;
}

.modal.show {
  display: block;
}

.modal-title {
  text-align: center;
}

.book-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 0px;
}

.section input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
}
.section > label {
  width: 25%;
  text-align: center;
}
.section button {
  width: 25%;
}

.book-form__btn {
  padding: 10px;
  border-radius: 100px;
}

.book-form__btn {
  padding: 10px;
  border-radius: 100px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* estilos contenedor generos */

/* estilos contenedor de libros */
.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book {
  border: 1px solid #ccc;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.book h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.book p {
  margin: 5px 0;
}

.review {
  font-style: italic;
  margin-top: 10px;
}

@media (max-width: 540px) {
  .section {
    flex-direction: column;
    margin: 6px 0px;
  }
  .section * {
    margin: 6px 0px;
  }
  .book {
    width: 69%;
  }
}

@media (min-width: 768px) {
  .book {
    width: 27%;
  }
}

/* Define la animación para el modal*/
@keyframes modal-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* Estilos para ocultar las flechas en el input de rating */
#rating::-webkit-outer-spin-button,
#rating::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Para asegurarse de que no hay espacio reservado para las flechas */
}

